@model BlueEconomics.Web.ViewModels.JobViewModel

@{
    ViewBag.Title = "ASCEND Project | Jobs";
}
@section scripts
{
    <script src="@Url.Content("~/Content/js/accounting.min.js")"></script>
    <script>
        function buildOcupationDetail(occupationId) {
            $.ajax({
                url: "api/occupation/" + occupationId,
                beforeSend: function() {
                    $('#jobDetail').hide();
                },
                success: function(data) {
                    if (data != null) {
                        $('#lblOccupationName').html(data.Name);
                        $('#lblOccupationDescription').html(data.Description);
                        $('#lblIndustryName').html(data.Industry.Name);
                        $('#lblMedianPayAnnual').html(accounting.formatMoney(data.MedianPayAnnual));
                        $('#lblMedianPayHourly').html(accounting.formatMoney(data.MedianPayHourly));
                        $('#lblNumberofJobs').html(data.NumberOfJobs);
                        $('#lblEmploymentOpenings').html(data.EmploymentOpenings);
                        $('#lblEducationLevelEntry').html(data.EducationLevel.Name);
                        $('#lblWorkExperience').html(data.WorkExperience.Name);

                        $('#jobDetail').show();
                    } else {
                        alert('Sorry, try again.');
                    }
                },
                error: function() {
                    alert('Sorry, try again.');
                }
            });
        }
    </script>
    <script>
        function buildOccupationTemplate(occupationItem) {
            console.log(occupationItem.MedianPayHourly);
            var template = '<li onclick="javascript:buildOcupationDetail(' + occupationItem.Id + ')"><strong>' + occupationItem.Name + '</strong></br>' + accounting.formatMoney(occupationItem.MedianPayHourly) + '/hour ' + occupationItem.WorkExperience + '</br><span class="score"></span></li>';
            return template;
        }
    </script>
    <script>
        function BuildSearchTerm() {
            var searchTerm = $('#searchTerm');

            var searchText = "";
            searchTerm.val("");

            $('.filterItem:checked').each(function() {
                var category = $(this).attr('data-FilterCategory');
                var id = $(this).attr('data-FilterId');

                if (searchText == "")
                    searchText += category + '=' + id;
                else {
                    searchText += ',' + category + '=' + id;
                }
            });

            var text = $('#txtSearch').val();

            if (text.length > 0)
                searchText += ",Filter=" + text;

            searchTerm.val(searchText);
        }

        function ExecuteSearch() {
            var searchTerm = $('#searchTerm').val();

            if (searchTerm.length > 0) {
                $.ajax({
                    url: "api/occupation?criteria=" + searchTerm,
                    beforeSend: function() {
                        $('#occupationList').empty();
                        $('#jobDetail').hide();
                    },
                    success: function(data) {
                        $.each(data, function() {
                            var occupationItem = buildOccupationTemplate(this);
                            $('#occupationList').append(occupationItem);
                        });
                    },
                    error: function() {
                        alert('Sorry, try again.');
                    }
                });
            } else {
                $('#occupationList').empty();
                $('#jobDetail').hide();
            }
        }

        $(function() {
            $('.filterItem, #btnSearch').click(function() {
                BuildSearchTerm();
                ExecuteSearch();
            });
        });
    </script>
}
<input type="hidden" id="searchTerm" />
<div class="row">
    <!-- search bar -->
    <div class="span12">
        <p>
            <span>
                <input type="text" data-provide="typeahead" class="span4 input-medium search-query " placeholder="Search for jobs..." id="txtSearch"></span>
            <span>
                <button type="submit" class="btn btn-primary force-bottom" id="btnSearch"><i class="icon-search icon-white"></i>Search</button></span>
        </p>
    </div>
    <!-- search bar -->
    <div class="row">
        <div class="span4">
            <h4>Filters</h4>
            <div class="well industry">
                @{
                    foreach (var filter in Model.Filters)
                    {
                    <div>
                        <strong>@filter.Category</strong>
                        <ul>
                            @foreach (var item in filter.Itens)
                            {
                                <li>
                                    <label>
                                        <input type="checkbox" data-FilterId="@item.Id" data-FilterCategory="@filter.Category" class="regular-checkbox filterItem" /><span>@item.Name</span>
                                    </label>
                                </li>
                            }
                        </ul>
                    </div>
                    }
                }
            </div>
        </div>
        <div class="span4 no-gutter">
            <h4>Jobs</h4>
            <ul class="well jobs" id="occupationList">
            </ul>
        </div>
        <div class="span4 no-gutter">
            <h4>Job Detail</h4>
            <div class="well detail">
                <div id="jobDetail" style="display: none">
                    <h4><span id="lblOccupationName"></span></h4>
                    <h5>Industry</h5>
                    <span id="lblIndustryName"></span>

                    <h5>Annual Income</h5>
                    <span id="lblMedianPayAnnual"></span>

                    <h5>Hourly Wage</h5>
                    <span id="lblMedianPayHourly"></span>

                    <h5>Number Of Jobs</h5>
                    <span id="lblNumberofJobs"></span>

                    <h5>Employment Openings</h5>
                    <span id="lblEmploymentOpenings"></span>

                    <h5>Entry Requirement</h5>
                    <span id="lblEducationLevelEntry"></span>

                    <h5>Job Description</h5>
                    <span id="lblOccupationDescription"></span>
                </div>
            </div>
        </div>
        <!-- end second row -->
    </div>
</div>
<hr>
