<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/reset.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/bootstrap-responsive.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet"/>
</head>
<body>
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="container">
        @Html.Partial("_Header")
        @RenderBody()
    </div>
    <footer>
        <p>&#169; Blue Economics 2013</p>
    </footer>
    <script src="@Url.Content("~/Content/js/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/modernizr-2.6.2.js")"></script>
    <script src="@Url.Content("~/Content/js/modernizr-2.6.2-respond-1.1.0.min.js")"></script>
    <script src="@Url.Content("~/Content/js/main.js")"></script>
    @Html.Partial("_GoogleAnalytics");
    @RenderSection("scripts", required: false)
</body>
</html>
